*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: black;
    color: gold;
}

h1{
    text-align: center;
    margin: 20px 0;
}
div{
    color: gold;
    text-align: center;
    margin: 20px auto;
    width: 50%;
    letter-spacing: 2px; 
    font-size: 20   px;
}

p{
    margin-top: 50px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: gold;
}

.button{
    font-size: 20px;
    padding: 15px 20px;
    background-color: whitesmoke;
    color: black;
    border: 2px solid black;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.button:hover{
    border-radius: 50%;
    color: gold;
    transform: scale(1.2);
    background-color: grey;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}
.cor{
    display: none;
}
@media (max-width: 600px) {
    .image{
        display: none;
    }
    .cor {
        display: block;
    }

}